body {

background: lightblue no-repeat fixed center; 

}

h1 {
  font-family: Times New Roman, cursive, sans-serif;
  font-size: 5rem;
}

img {
        background: black;
        color: white;
        padding: .5em;
        position: absolute;
        top: 50%;
        left: 5%;
        margin-right: -40%;
        transform: translate(-20%, -20%) 
}
		
	

